.DS_Store
.idea
.vs
NativePluginsSrc/VrsBased/Debug/
NativePluginsSrc/VrsBased/x64/
NativePluginsSrc/VrsBased/VrsBased.sln
NativePluginsSrc/VrsBased/VrsBased.vcxproj
NativePluginsSrc/VrsBased/VrsBased.vcxproj.filters
NativePluginsSrc/VrsBased/VrsBased.vcxproj.user