.DS_Store
.idea
.vs
NativePluginsSrc/VrsBased/Debug/
NativePluginsSrc/VrsBased/x64/
*.sln
*.vcxproj
*.csproj
*.vcxproj.filters
*.vcxproj.user
GazeTracking/Debug
GazeTracking/x64
.clang-format
*.meta
!UnityPackage/Prefabs/Circle.png.meta
!UnityPackage/Prefabs/CircleBorder.prefab.meta
!Demo/Prefabs/Background.png.meta
!Demo/Prefabs/Canvas.prefab.meta
!Demo/Scenes/SampleScene.unity.meta